<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="DefaultFolderToWatch" value="C:\Development\NET\Git\ASPNETCoreMVCwithReact\ClientApp" />
    <add key="ExcludeSubFolders" value="build;config;node_modules;scripts" />
    <add key="CommandAtChange" value="C:\DevTools\nodejs\npm.cmd run start"/>
    <!-- 'CommandWorkFolder' is the same as DefaultFolderToWatch, by default -->
    <add key="CommandWorkFolder" value=""/>
    <add key="CommandDelayMS" value="1000" />
    <add key="UseShellExecute" value="false"/>
    <add key="RefreshNotificationURL" value="wss://localhost:44371/browserrefresh"/>
  </appSettings>

</configuration>